In [11]:
from pathlib import Path
import pandas as pd
import numpy as np

In [24]:
column_names = ["date","age_range","industry","job_title","job_context",
                "annual_salary","additional_comp","currency","alt_currency","income_context",
                "country","us_state","city","overall_exp","field_exp","edu_level","gender","race"]
df_salary = pd.read_csv(Path("salary_responses.csv"),skiprows=1,names=column_names)
df_salary

,date,age_range,industry,job_title,job_context,annual_salary,additional_comp,currency,alt_currency,income_context,country,us_state,city,overall_exp,field_exp,edu_level,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27962,6/8/2023 4:35:52,45-54,Health care,Business Development Director,NaN,185000,22000.0,AUD/NZD,NaN,NaN,Australia,NaN,Sydney,21 - 30 years,1 year or less,College degree,Other or prefer not to answer,White
27963,6/15/2023 9:53:13,25-34,Government and Public Administration,Business Analyst,NaN,90000,0.0,USD,NaN,NaN,USA,New York,New York City,11 - 20 years,8 - 10 years,Master's degree,Woman,Asian or Asian American
27964,6/15/2023 11:57:09,25-34,Computing or Tech,Junior Developer,NaN,22000,0.0,GBP,NaN,NaN,united kingdom,NaN,northampton,1 year or less,1 year or less,Master's degree,Woman,Asian or Asian American
27965,6/16/2023 17:58:18,25-34,Business or Consulting,Environmental Risk Assessor,NaN,80000,NaN,CAD,NaN,NaN,Canada,NaN,Vancouver,2 - 4 years,2 - 4 years,Master's degree,Woman,White
27966,6/23/2023 15:44:02,25-34,"Accounting, Banking & Finance",Associate,Corporate Restructuring,52500,3500.0,CAD,NaN,NaN,Canada,NaN,Alberta,2 - 4 years,1 year or less,College degree,Woman,White

In [23]:
df_salary.isnull().sum()

date                   0
age_range              0
industry              72
job_title              0
job_context        20730
annual_salary          0
additional_comp     7263
currency               0
alt_currency       27770
income_context     24932
country                0
us_state            4990
city                  75
overall_exp            0
field_exp              0
edu_level            215
gender               167
race                 169
dtype: int64